__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/
.pytest_cache/
.ruff_cache/

cache/
tests/
downloads/
config.yaml

*.mp4
*.mkv
*.webm
*.avi
*.srt
*.txt
*.csv

.env
.venv/
venv/
